# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local
.env.*
*.env

# typescript
*.tsbuildinfo
build/

# IDE idea/
.idea/
.vscode/
*.swp

# Linting and Babel
.eslintcache
.babelrc.*

# Jest
/coverage

# Ignore environment-specific config files
*.local.jsconfig
*.local.tsconfig
tsconfig.build.json

